.Login-errors {
  color: red;
  padding: 0.5rem;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-size: .8rem;
}

.Login-container {
  height: 100vh;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  position: relative;
}

.Login-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  text-align: center;

  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


@media screen and (min-width: 600px) and (max-width: 1200px) {
  .Login-content {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .Login-content {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
}

.Login-title {
  font-size: 2.7rem;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding: 1rem;
}

.Login-form {
  padding-left: 10%;
  padding-right: 10%;
}

.Login-form-title {
  padding: 0;
  margin: 0;
  text-align: center;
}

.Login-form-button {
  margin: 1rem;
  padding: .5rem;
  width: 8rem;  

  border: none;
  border-radius: .5rem;
  
  font-size: medium;

  cursor: pointer;
  transition: box-shadow .1s ease-in-out;
}

.Login-form-button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.Login-form-button:focus {
  background-color: rgba(238,174,202,.7); 
  color: white;
}

.Login-input {
  width: 95%;
  height: 2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border: none;
  border-radius: .5rem;
  transition: all .2s ease-in-out;
}

.Login-input:focus {
  outline: rgba(148,187,233,1) solid;
  transform: scale(1.05);
}


.Login-input-label {
  display: block;
  padding-bottom: .2rem;
  text-align: left;
}

.Login-input-div {
  padding: .5rem;
}

.Login-with-google {
  width: 75%;
  padding: .75rem;

  border: none;
  border-radius: .5rem;
  background-image: url('../../assets/google-brands.svg');
  background-repeat: no-repeat;
  background-position: left 1rem top 50%;
  background-size: 1.5rem;
}

.Login-with-google:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.Login-with-google:focus {
  background-color: rgba(238,174,202,.7); 
  color: white;
}

.Register {
  width: 100%;
  font-size: .8rem;
}

.Separator {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  
  margin-top: 1rem;
  margin-bottom: 2rem;

  height: 0;
  border-top: 1px solid rgba( 255, 255, 255, 1 );
}