.Nav-bar {
  position: fixed;
  top: 0;
  right: 0;

  height: 100%;

  background-color: white;
  border-left: 1px solid white;

  transition: width 300ms ease;

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px 0 0 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  z-index: 40;
}

.Nav-open {
  width: 20%;
}

.Nav-close {
  width: 0;
}

@media screen and (max-width: 600px) {
  .Nav-open {
    width: 50%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .Nav-open {
    width: 35%;
  }
}

.Nav-bar-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Nav-bar-li {
  width: 100%;
  transition: background-color .3s ease;
}

.Nav-bar-li:hover {
  background-color: rgb(238,174,202);
  border-radius: 10px 0 0 10px;
}

.Nav-bar-li:focus {
  background-color: rgb(238,174,202);
  border-radius: 10px 0 0 10px;
}

.Nav-bar-link {
  display: block;

  padding: 0.5rem;

  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  text-align: center;
}

.Nav-bar-link:hover {
  color: white;
}

.Nav-bar-li button {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0.7rem;
  
  border: 0;
  background-color: transparent;

  font-size: 1.25rem;
  cursor: pointer;
}

.Nav-bar-button {
  position: absolute;
  top: 50vh;
  left: -2rem;

  width: 4rem;
  height: 4rem;

  padding-top: .2rem;

  border-radius: 100%;
  border: 2px solid white;
  background-color: white;

  text-align: center;

  transition: rotate 300ms ease;

  background: rgb(238,174,202);
}

.Nav-bar-icon {
  width: 3rem;
  height: 3rem;
  fill: white;
  transition: transform .3s ease;
}

.Nav-bar-icon-rotation {
  transform: rotate( 180deg );
}